/*
 * Buttons
 */

.button {
  cursor: pointer;
  display: block;
  padding:10px;
  width:100%;

  @include border-radius(5px);
  @include transition(background-color 500ms ease);

  @extend %font%webfont-fallback;
  @extend %font%webfont-fallback%type-1;

  &:hover,
  &.active {

  }

  &.button--type-1 {
    background-color:$rps-grey;

    &:hover,
    &.active {

    }
  }
}